// Modify the base color of the theme
//$v-background-color: hsl(200, 50%, 50%);

$v-app-loading-text: "Loading ORE...";

// Import valo after setting the parameters
@import "../valo/valo";


.ore {
  @include valo;
  
  .no-kb-label {
  
  	.v-icon {
  		font-size: 200px;
  		//text-align: center;
  		display:block;
	}
	
	.text {
		text-align:center;
		font-weight:600;
	}
  	
  }
  
  .v-nativebutton-borderless {
    border: none;
    background: img/owl-ontology.png;
    width: 342px;
    height: 60px;
	}


  .kb-view .v-button {
      display: block;
      height: 55px;
      background: transparent;
      border: none;
      text-align: center;
}
 
.kb-view .v-button img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
}

.kb-view .v-button .v-button-wrap, 
.kb-view .v-disabled.v-button .v-button-wrap {
   background: transparent;
   border: none;
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

.kb-view .v-button:active .v-button-wrap,
.kb-view .v-button.v-pressed .v-button-wrap {
   background: transparent;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}

.caption-below-icon {
      //background-color: #4172AE;      
	
	.v-button-link {
      display: block;
      background: transparent;
      border: none;
      text-align: center;
	}

.v-button-link .v-button-caption {
    color: #fff;
    font-weight:bold;
    text-decoration: none;
}

.v-button-link .v-button-caption:hover {
    color: #39849d;
    text-decoration: underline;
}

.v-button {
      display: block;
      background: transparent;
      border: none;
      text-align: center;
}

.v-button img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5px;
}

.v-button span {
      /*font-size: x-small;*/
      text-shadow: #fafafa 1px 1px 0;
}
}