Package: ore-ui
Version: [[version]]
Architecture: all
Maintainer: Lorenz Bühmann <buehmann@informatik.uni-leipzig.de>
Depends: tomcat7, lod2-java7 | java7-runtime-headless | java7-runtime
Section: web
Priority: optional
Distribution: ldstack-nightly
Homepage: http://ore-tool.net/
Description: (Linked Data) ORE - Web interface
	(Linked Data) ORE allows for the enrichment, repair and data 
	validation of OWL based knowledge bases.